h1 {
    margin-left: 170px;
}
.jumbotron {

height: 500px;
width: 100%;
margin-top: 100px;
background-color: gold;
}

.row {
    margin-top: 80px;
}
html{
    background-image: url("../images/hogwarts.jpg")
}